@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap'); 


:root{
  --mainColor: #2b2b31;

}
body{
  background-color: var(--mainColor);
  color: white;
  font-family: Ubuntu, sans-serif;
}