.card {
  width: 40%;
  position: absolute;
  top: 10% !important;
  left: 39%;
  border-top-color: #ff568e !important;
}
button {
  color: #2b2b13 !important;
  background-color: #ff568e !important;
}



.custom-select {
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"><path fill="ff5598" d="M7 10l5 5 5-5z"/></svg>'); 
  background-repeat: no-repeat;
  background-position: right 10px center; 
  background-size: 15x 15px; 
  padding-right: 30px; 
  border: 1px solid gray; 
  border-radius: 4px; 
}

.custom-select:focus {
  outline-color: #ff5598; 
  border-color: #ff5598;}

  .modal__close{
    margin-right:10px;
    background-color: transparent !important;
    border: none;
  }

  .modal__close:hover svg {
    opacity: 1;
    fill: #ff55a5;
}
.modal__close svg {
    fill: rgba(199, 199, 199, 0.6);
    height: auto;
    width: 24px;
}
svg {
    transition: fill 0.5s ease;
}
img, svg {
    vertical-align: middle;
}